.products-container {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.products-title {
    font-size: 30px;
    display: inline-block;
    border-bottom: 2px solid ;
    padding-bottom: 4px;
    margin-bottom: 60px;
}

.products-fruits, .products-others {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color:rgb(238, 236, 233);
}

.products-fruits {
    margin-bottom: 70px;
}

.products-fruits > *, .products-others > * {
    width: 50%;
}

.products-others-subcontainer-1, .products-fruits-subcontainer-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.products-others-subcontainer-1-title, .products-fruits-subcontainer-2-title {
    font-size: 30px;
    display: inline-block;
    border-bottom: 2px solid ;
    padding-bottom: 4px;
}

.products-others-subcontainer-2-img, .products-fruits-subcontainer-1-img {
    width: 100%;
    height: 100%;
}

.products-others-subcontainer-1-text, .products-fruits-subcontainer-2-text {
    font-size: 22px;
}

